/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main";
}

/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 25px;
    width: 100%;
}

main {
    grid-area: main;
}

/* ============================================= */
/*              Header                           */
/* ============================================= */

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
}

h1 {
    font-size: 20px;
    color: rgb(99, 99, 99);
}


/* ============================================= */
/*              Card & Extra Styles              */
/* ============================================= */

.card {
  background: #FFF;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 1px solid lightgrey;
  color: darkgrey;
}

.card:hover {
    cursor: pointer;
    background: rgb(231, 231, 231);
}

.avatar {
    border-radius: 50%;
    padding-left: 0%;
}

.text-container {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(100, 100, 100);
}

.name {
    font-size: 15px;
}

.email,
.address {
    color: rgb(105, 105, 105);
    margin: 0px 10px 10px 0px;
    font-size: 11px;
}

.cardContainer-column {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

/* ============================================= */
/*              Modal Styles                     */
/* ============================================= */

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 30px 20px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.modal-close {
    position: absolute;
    right: 30px;
    top: -5px;
    cursor: pointer;
}

.modal-next {
    position: absolute;
    right: 10px;
    top: 200px;
    cursor: pointer;
    font-size: 20px;
}

.modal-back {
    position: absolute;
    left: 10px;
    top: 200px;
    cursor: pointer;
    font-size: 20px;
}

.hidden {
    display: none;
}



/* ============================================= */
/*              Search Styles                    */
/* ============================================= */

.search {
    grid-area: search;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

#searchbar {
    height: 20px;
    width: 400px;
}
